# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Nick
.deps
.dirstamp
.libs
*.la
*.lo
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/dacli
/depcomp
/install-sh
/libdisarm.pc
/libtool
/ltmain.sh
/missing
/stamp-h1
